<div class="jumbotron">
    <h2>Gigs | Connects Employers and Employees</h2>
    <p>Are you ready to become the next Giggler?</p>
  <%= link_to posts_path do %>
    	<button type="button" class="btn btn-warning btn-lg">I am hiring!</button>
  <% end %>

  <%= link_to posts_path do %>
    	<button type="button" class="btn btn-primary btn-lg">I am looking for gigs!</button>
  <% end %>

</div>