<head>

  <title>Profile</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Overlock|Special+Elite" rel="stylesheet">
  <%= stylesheet_link_tag "header" %>
  <%= stylesheet_link_tag "home" %>

</head>

<body>

  <header class="gigshead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="my-0 text-uppercase text-white mx-auto mt-2 mb-5">Gigs</h1>
        <h2 class="text-white mx-auto"><b>CONNECTS GIGS EMPLOYERS AND EMPLOYEES</b></h2>
        <h3 class="text-white mx-auto mt-2 mb-5">Are you ready to become the next Giggler?</h3>
        <%= link_to new_user_registration_path do %>
          	<button type="button" class="btn2 btn2-secondary btn-lg js-scroll-trigger" style="margin-right: 80px; margin-top: 80px">Sign Up!</button>
        <% end %>
        <%= link_to posts_path do %>
          	<button type="button" class="btn2 btn2-primary btn-lg js-scroll-trigger" style=" margin-top: 80px">Posts</button>
        <% end %>
      </div>
    </div>
  </header>

<!-- secgtion about -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h2 class="section-heading text-white mb-4">HIGH LEVEL GOALS</h2>
          <p class="text-white section-subheading" style="margin-bottom: 10px">Employers can build up their reputation from employees’ review while employees can build their gigs portfolios from previous gigs.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- section about -->
  <div class="about_background">
    <section id="feature">
        <div class="container">
          <div class="row">

            <div class="section-subheading" style="font-size:170%;">
              <div class=" text-center">
                <h2 class="section-heading text-uppercase text-white" style="margin-bottom: 50px; margin-top: 150px">About our features</h2>
              </div>
              <ul class="text-white">
                <li>Employers can post jobs and review job requests.</li>
                <li>Employees can search for list of jobs and apply.</li>
                <li>All users have their own profile with rating and comments from previous employees and employers.</li>
                <li>Jobs are filtered by ratings, difficulty, requirements and locations.</li>
              </ul>
            </div>
            <div style="margin-bottom: 150px;"> </div>
          </div>
        </div>

    </section>
  </div>



<!-- section service -->
  <section id="services" class="service_background">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About Our Services</h2>
          </div>
          <div class="row text-center" style="margin-top: 30px">
            <div class="col-md-4">
              <span class="fa-stack fa-6x fa-spin">
                <i class="fas fa-circle fa-stack-2x" style="color:#a0d6fc;"></i>
                <i class="fas fa-address-card fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Accessible</h4>
              <h5 class="text-muted">Gigs website is very user friendly as all information is organised and presented, Content is well-formatted and it has good and clean navigation.</h5>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-6x fa-spin">
                <i class="fas fa-circle fa-stack-2x" style="color:#a0d6fc;"></i>
                <i class="fas far fa-smile-wink fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Useful</h4>
              <h5 class="text-muted">Gigs website will be your next most visited website since you can post nearly anything you want, and you can find easy jobs and make that side money.</h5>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-6x fa-spin">
                <i class="fas fa-circle fa-stack-2x" style="color:#a0d6fc;"></i>
                <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Web Security</h4>
              <h5 class="text-muted">Gigs check with user's persional information and make sure every single one of the employees and employers follows out terms and conditions.</h5>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>
