<p>
  <strong>Rater:</strong>
  <%= link_to "user.find(rating.rater).user.first_name user.find(comment.rater).user.last_name", user_path(rating.rater) %>

  <strong>Rating: </strong>
  <%= rating.rating %>

  <strong>Comment:</strong>
  <%= rating.comment %>
</p>
