<div class = "background_color">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Luckiest+Guy|Overlock|Special+Elite" rel="stylesheet">
    <%= stylesheet_link_tag "profile" %>
  </head>

  <body>

    <div class="container post"><h1 class="mt-1 mb-3">&nbsp</h1>
      <div class="jumbotron">
        <%= render "ratings/form"%>
      </div>
    </div>
  </body>
</div>
