<div class = "background_color">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Luckiest+Guy|Overlock|Special+Elite" rel="stylesheet">
    <%= stylesheet_link_tag "posts" %>

  </head>

  <div class = "headerbreak"></div>
  <body>

    <div class="container post jumbotron">
      <h1 class="" style="margin-bottom: 10px">Edit Gigs</h1>

    <%= render 'form', post: @post %>

    <div class="mt-3">
      <%= link_to 'Back', posts_path, class: "btn btn-warning"%>
    <%= link_to 'Delete', @post, class: 'btn btn-danger',
        method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </body>
</div>
