<div class = "background_color">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Luckiest+Guy|Overlock|Special+Elite" rel="stylesheet">
    <%= stylesheet_link_tag "posts" %>

  </head>


  <body>
    <!-- Page Content -->
    <div class="container font">
      <h1 class="mt-4 mb-3">&nbsp</h1>
      <div class="jumbotron">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="text" style="margin-bottom: 30px">New Gigs</h1>


        <%= render 'form', post: @post %>
        <%= link_to 'Back', posts_path, class: "btn btn-primary mt-3" %>


      </div>

    </div>
  </body>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
        <aside id="text-5" class="widget widget_text ">
          <h3 class="widgettitle text-center" style="color: #ffffff;"><b>Gigglers:</b></h3>
          <a style="color: #C6C6C6;">Chrisopher Griffis &nbsp;&nbsp;&nbsp;&nbsp; Christopher Young &nbsp;&nbsp;&nbsp;&nbsp;  Tangni Wang &nbsp;&nbsp;&nbsp;&nbsp;  Thomas Bowen &nbsp;&nbsp;&nbsp;&nbsp;  Tung Hoi Man
          </a><br/>
        </aside>
      <hr class="footer-divider">

      <p class="m-0 text-center text-white">© 2018. Jack.Baskin School of Engineering.</p>
    </div>
  </footer>

</div>
