<div class="container jumbotron" style="margin-top: 30px">
  <h1>New Gig</h1>

    <%= render 'form', post: @post %>

    <%= link_to 'Back', posts_path, class: "btn btn-primary mt-3" %>

</div>
