<div class = "background_color">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Luckiest+Guy|Overlock|Special+Elite" rel="stylesheet">
    <%= stylesheet_link_tag "posts" %>

  </head>


  <body>
    <!-- Page Content -->
<<<<<<< HEAD
    <div class="container post">
=======
    <div class="container font">
      <h1 class="mt-1 mb-3">&nbsp</h1>
>>>>>>> applicationui
      <div class="jumbotron">

        <!-- Page Heading -->
        <h1 class="" style="margin-bottom: 10px">New Gigs</h1>

        <%= render 'form', post: @post %>
        <br />
        <%= link_to 'Back', posts_path, class: "btn btn-warning" %>


      </div>
<<<<<<< HEAD
=======
      <hr><hr><hr><hr><hr>

>>>>>>> applicationui
    </div>
  </body>


</div>
