  <form>
    <div class="form-group col-8">
      <input type="text" class="form-control form-control-lg" name="title" placeholder="Job Title">

    </div>
    <div class="form-group col-8">
      <label for="post_description">Description</label>
      <textarea class="form-control" name ="text" placeholder="Job Description" rows="3"></textarea>
    </div>
    <div class="form-group col-8">
      <label for="post_location">Location</label>
      <input type="text" class="form-control" name="location" placeholder="Location">
    </div>
    <div class="form-group col-3">
      <label for="post_rate">Rate</label>
      <input type="text" class="form-control" name="rate" placeholder="Rate">
    </div>
    <div class="form-group col-8">
        <label for="post_asset">Upload picture?</label>
        <input type="file" class="form-control-file" name="asset">
    </div>

    <div class="col">
    <button type="submit" class="btn btn-success">Submit</button>
    </div>

  </form>
