// #mainNav {
//   min-height: 56px;
//   background-color: #fff;
//
// }
//
// #mainNav .navbar-toggler {
//   font-size: 100%;
//   padding: 5rem;
//   color: #64a19d;
//   border: 1px solid #64a19d;
// }
//
// #mainNav .navbar-toggler:focus {
//   outline: none;
// }
//
// #mainNav .navbar-brand {
//   color: #161616;
//   font-weight: 700;
//   padding: .9rem 0;
// }
//
// #mainNav .navbar-nav .nav-item:hover {
//   color:#000000;
//   outline: none;
//   background-color: transparent;
// }
//
// #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
//   outline: none;
//   background-color: transparent;
//   position: relative;
//
// }
//
// @media (min-width: 992px) {
//   #mainNav {
//     padding-top: 0;
//     padding-bottom: 0;
//     border-bottom: none;
//     // background-color: #232323;
//     background-color: transparent;
//     -webkit-transition: background-color 0.3s ease-in-out;
//     transition: background-color 0.3s ease-in-out;
//   }
//   #mainNav .navbar-brand {
//     padding: .5rem 0;
//     color: rgba(20, 20, 20, 0.5);
//   }
//   #mainNav .nav-link {
//     -webkit-transition: none;
//     transition: none;
//     padding: 2rem 1.5rem;
//     color: rgba(20, 20, 20, 0.5);
//   }
//   #mainNav .nav-link:hover {
//     color: rgba(20, 20, 20, 0.75);
//   }
//   #mainNav .nav-link:active {
//     color: white;
//   }
//   #mainNav.navbar-shrink {
//     background-color: #fff;
//   }
//   #mainNav.navbar-shrink .navbar-brand {
//     color: #161616;
//   }
//   #mainNav.navbar-shrink .nav-link {
//     color: #161616;
//     padding: 1.5rem 1.5rem 1.25rem;
//     border-bottom: 0.25rem solid transparent;
//   }
//   #mainNav.navbar-shrink .nav-link:hover {
//     color: #64a19d;
//   }
//   #mainNav.navbar-shrink .nav-link:active {
//     color: #467370;
//   }
//   #mainNav.navbar-shrink .nav-link.active {
//     color: #64a19d;
//     outline: none;
//     border-bottom: 0.25rem solid #64a19d;
//   }
// }
//
//
//
//
//
//
//
//
//
// .fixed-top {
//   position: fixed;
//   position: relative;
//
//
// }
