// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Navigation for _header.html

.gigshead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.8)), to(#161616));
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), image-url('ucsc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.gigshead h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
  -webkit-background-clip: text;
}

.gigshead h2 {
  max-width: 20rem;
  font-size: 1rem;
  font-family: 'Special Elite', cursive;
}

@media (min-width: 768px) {
  .gigshead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .gigshead {
    height: 100vh;
    padding: 0;
  }
  .gigshead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .gigshead h2 {
    max-width: 60rem;
    font-size: 2rem;
  }
  .gigshead h3 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}
.btn2 {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn2-primary {
  background-color: #64a19d;
  opacity:0.8;
}

.btn2-primary:hover {
  background-color: #4f837f;
}

.btn2-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn2-primary:active {
  background-color: #4f837f !important;
}

.btn2-secondary {
  background-color: #b3b300;
  opacity:0.8;
}

.btn2-secondary:hover {
  background-color: #666600;
}

.btn2-secondary:focus {
  background-color: #666600;
  color: white;
}

.btn2-secondary:active {
  background-color: #666600 !important;
}

.about-section {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
  background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.7) 100%), image-url('ucsc.jpg');
}

.about-section p {
  margin-bottom: 5rem;
}

.about_background{
  background-color: #EEEEEE;
  background:linear-gradient(rgba(22, 22, 22, 0.4) 30%, rgba(22, 22, 22, 0.4) 30%), image-url('feature.jpg');
  background-repeat: no-repeat;
  background-size: 2500px 1000px;
}

.service_background{
  background-color: #a0d6fc;
  background: linear-gradient(45deg, #a0d6fc, #F0FF94);
}

// service section
.service-heading {
  margin: 15px 0;
  text-transform: none;
  font-family: 'Special Elite', cursive;
}

section {
    padding: 100px 100px;
}

section h2.section-heading {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Special Elite', cursive;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Overlock', cursive;
}

@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}



footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footer-divider{
  margin-bottom: 30px;
}


.bottom_inner aside {
    position: relative;
    float: left;
    margin: 0 2%;
}

.cmsms_color_scheme_footer{
  color: rgba(255,255,255,0.3);
}
.bottom_inner .widgettitle {
    padding-bottom: 5px;
    position: relative;
    color: #ffffff;
}
.widgettitle{
    font-size: 16px;
}

.textwidget{
  color: #ffffff;
}

.one_fourth {
    width: 21%;
    text-align: left;
}
.one_first, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .one_sixth {
    position: relative;
    float: left;
    margin: 0 2%;
}

.one_first, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .one_sixth {
    position: relative;
    float: left;
    margin: 0 2%;
}

.jumbotron{
  background-color:#FFFFFF;
}
