td {
	font-weight: bold;
}

.post h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 4rem;
  text-align: center
}
.post h2 {
  font-size: 2.5rem;
  font-family:'Cabin Sketch', cursive;
  color: Maroon;
  text-transform: uppercase;

}
.post h3 {
  font-family:'Special Elite', cursive;
}
.post h4 {
  font-family:'Special Elite', cursive;
}
.post h5 {
  font-family:'Special Elite', cursive;
}
.post h6 {
  font-family:'Special Elite', cursive;
}
.post p {
  font-family:'Special Elite', cursive;
}
.post a {
  font-family: 'Special Elite', cursive;
}
.post label {
	font-size: 1.5rem;
  font-family:'Cabin Sketch', cursive;
}

.post center {
  font-size: 2.5rem;
  font-family: 'Cabin Sketch', cursive;
}

.new_post_btn {
  font-size: 1.6rem;
  font-weight: bolder;
}

.save_post_btn {
  font-size: 1.6rem;
  font-family: 'Special Elite', cursive;
}

.jumbotron{
  background-color: #dce3f2;
}

body {
  background-image: image-url('cloth2.jpg');
}
.table {
  bgcolor=#118691;
}
