<footer class="py-5 bg-dark">
  <div class="container">
      <aside id="text-5" class="widget widget_text ">
        <p class="widgettitle text-center" style="color: #ffffff;"><b>Gigglers</b></p>
        <div class="text-center text-white">
          <a style="color: #C6C6C6;">Chrisopher Griffis &nbsp;&nbsp;&nbsp;&nbsp; Christopher Young &nbsp;&nbsp;&nbsp;&nbsp;  Tangni Wang &nbsp;&nbsp;&nbsp;&nbsp;  Thomas Bowen &nbsp;&nbsp;&nbsp;&nbsp;  Tung Hoi Man
          </a><br/>
        </div>
      </aside>
    </div>
    <hr class="footer-divider">

    <p class="m-0 text-center text-white">© 2018 Jack Baskin School of Engineering.</p>
</footer>
