<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <%= stylesheet_link_tag "header" %>

    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <div class = "headerbreak"></div>

  <body>
    <%= yield %>
  </body>
</html>
