<head>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <%= stylesheet_link_tag "header" %>

</head>
<div class = "headerbreak"></div>
<body>

  <p>Hello <%= @resource.email %>!</p>

  <p>We're contacting you to notify you that your password has been changed.</p>

</body>
